* {
    margin: 0%;
    padding: 0%;
}

html {
    height: auto;
}

body {
    width: 99%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Merriweather', serif;
}

nav {
    background-color: rgb(183, 212, 240);
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
    border: 3px solid rgba(255, 0, 0, 0.514);
}

header {
    background-color: rgba(64, 95, 95, 0.11);
    width: 50%;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 3px solid rgba(255, 0, 0, 0.514);
}

article {
    width: 100%;
    height: 400px;
    margin: 0 0 10px;
}

p {
    text-align: center;
}

.caja1 {
    background-color: #f92937;
    width: 49%;
    height: 100%;
    border-radius: 3px;
    border: 3px solid black;
    float: left;
}

.caja_1 {
    background-color: rgb(161, 152, 152);
    width: 80%;
    height: 40%;
    margin: 20px;
    margin-left: 10%;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    text-align: center;
    /* Invertimos la dirección de los elementos */
    justify-content: center;
    align-items: center;
}

.caja_1 button {
    margin-bottom: 10px;
    width: 150px;
    height: 25px;
    text-align: center;
    line-height: 0px;
    background-color: #f92937;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.caja_1 a {
    color: white;
    text-decoration: none;
}

.caja_1 button:hover {
    background-color: #3eee44;
}

.caja_2 {
    width: 80%;
    height: 40%;
    margin: 20px;
    margin-left: 10%;
}

.caja_2 a{
    color: white;
    text-decoration: none;
}

.caja_2_1 {
    background-color: rgb(161, 152, 152);
    width: 49%;
    height: 100%;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja_2_1 button {
    margin-bottom: 10px;
    width: 150px;
    height: 25px;
    text-align: center;
    line-height: 0px;
    background-color:  #f92937;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.caja_2_1 button:hover {
    background-color: #3eee44;
}

.caja_2_1 h1 {
    position: relative;
    bottom: 50px;
}


.caja_2_2 {
    background-color: rgb(161, 152, 152);
    width: 49%;
    height: 100%;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja_2_2 button {
    margin-bottom: 10px;
    width: 150px;
    height: 25px;
    text-align: center;
    line-height: 0px;
    background-color:  #f92937;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.caja_2_2 button:hover {
    background-color: #3eee44;
}

.caja_2_2 a {
    color: white;
    text-decoration: none;
}

.caja_2_2 h1 {
    position: relative;
    bottom: 50px;
}

.caja2 {
    width: 49%;
    height: 100%;
    border-radius: 3px;
    border: solid black;
    float: right;
    background-image: url(multimedia/pub.jpg);
    background-size: cover;
}

main {
    width: 100%;
    height: 300px;
    margin-top: 50px;
}

.com_r {
    background-color: hsl(180, 11%, 76%);
    width: 46.5%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 4px 4px 9px #000000e5;
    font-size: 20px;
}

.ver_g {
    background-color: hsl(180, 11%, 76%);
    width: 46.5%;
    height: 100%;
    float: right;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 4px 4px 9px #000000e5;
    font-size: 20px;
}

footer {
    background-color:  #f92937;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    margin-top: 70px;
    text-align: center;
    font-size: 10px;
}