* {
  margin: 0%;
  padding: 0%;
}

html {
  height: auto;
}

body {
  width: 99%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  font-family: 'Merriweather', serif;
}

header {
  background-color: rgba(64, 95, 95, 0.11);
  width: 50%;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 3px solid rgba(255, 0, 0, 0.514);
}

article {
  width: 100%;
  height: 400px;
  margin: 0 0 10px;
}

.contenedor {
  background-color: rgb(224, 76, 76);
  text-align: center;
  width: 680px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contenedor {
  background-color: rgb(224, 76, 76);
  text-align: center;
  width: 680px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
}

.texto-super,
.texto-infer {
  margin: 0;
  color: rgb(255, 248, 248);
  font-size: medium;
  font-family: 'Merriweather', serif;
  width: 620px;
}

.texto-super {
  margin-top: 55px;
}
.texto-infer {
  margin-bottom: 55px;
}

input {
  margin: 0;
  background-color: aliceblue;
  border-color: rgb(0, 0, 0);
  border-radius: 130px;
  width: 400px;
  height: 70px;
  font-size: 45px;
  text-align: center;
  margin: 10px;
}

button {
  margin: 10pxs;
  background-color: aliceblue;
  border-color: rgb(0, 0, 0);
  border-radius: 130px;
  width: 400px;
  height: 70px;
  font-size: 45px;
  text-align: center;
  cursor: pointer;
  padding-bottom: 10px;
}

button:hover {
  background-color: #3eee44;
}


button:hover{
  cursor: pointer;
}

.botonvolver {
  margin: 10pxs;
  background-color: aliceblue;
  border-color: rgb(0, 0, 0);
  border-radius: 130px;
  width: 400px;
  height: 70px;
  font-size: 45px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: rgb(224, 76, 76);
  display: block;
  margin-left: 20%;
}